<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Media Grabber Home</title>
		<!--<meta http-equiv="refresh" content="5" >-->
		<link href="media_grabber.css" rel="stylesheet">
	</head>
	<body>
		<div id="devices-summary-section" class="large_rounded_section">
			<div id="devices-summary-title" class="devices-title">
				<h2>Current Devices:</h2>
			</div>
			<hr>
			<div id="dev1" class="device-line-item">
				<div class="devname">
					<p class="p-line-item">/dev/sr0</p>
					<!--<button id="plus-button" class="hidden-button">+</button>-->
				</div>
				<div class="fullname">
					<p class="p-line-item">DVD-Generic Device</p>
				</div>
				<div class="logs">
					<button class="hidden-button device-logs">logs</button>
				</div>
				<div class="view">
					<button class="hidden-button view-device">view >></button>
				</div>
			</div>
			<div id="dev2" class="device-line-item">
				<div class="devname">
					<p class="p-line-item">/dev/sr1</p>
					<!--<button id="plus-button" class="hidden-button">+</button>-->
				</div>
				<div class="fullname">
					<p class="p-line-item">DVD-Blu Ray Samsung Device</p>
				</div>
				<div class="logs">
					<button class="hidden-button device-logs">logs</button>
				</div>
				<div class="view">
					<button class="hidden-button view-device">view >></button>
				</div>
			</div>
		</div>
		
	</body>
</html>